.App {
  text-align: center;
}

.App-logo {
 height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: url(/images/bg.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
p {
  letter-spacing: 4px;
}
p span {
  font-size: 26px;
  vertical-align: bottom;
  color: #22588d
}
